<!DOCTYPE html>
<html>
<head>
  <title>Memo app</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>

<div class="container">
  <% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: ["alert", "alert-#{message_type}"]) %>
  <% end %>
  <%= yield %>
</div>
<%= console if Rails.env.development? %>
</body>
</html>
